modulo1 - Ambiente e conceitos/node_modules/*
modulo2 - App GoBarber/node_modules/*
modulo3 - App Marketplace/node_modules/*
modulo4 - AdonisJS/node_modules/*
modulo5 - Testes automatizados/node_modules/*